@import "../../../variables.scss";


.top-creators-section {
  width: 100%;
  height: 1085px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;

  .mobile {
    display: none;
  }

  .top-creators-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1050px;

    .top-creators-header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 60px;

      .top-creators-header-left {
        text-align: left;
        display: flex;
        flex-direction: column;

        .top-creators-title {
          font-size: 38px;
          font-weight: 600;
          line-height: 120%;
          font-family: $work-sans;
          margin-bottom: 10px;
        }

        .top-creators-description {
          font-size: 22px;
          line-height: 160%;
          font-family: $work-sans;
        }
      }

      .rankings-button-wrapper {
        width: 247px;
        height: 60px;
      }
    }

    .top-creators-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      row-gap: 30px;
      column-gap: 30px;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1281px) {
  .top-creators-section {
    height: 573px;
    .top-creators-content {
      width: 690px;
      .top-creators-header {
        margin-bottom: 40px;
        .top-creators-header-left {
          .top-creators-title {
            font-size: 28px;
            line-height: 140%;
          }
          .top-creators-description {
            font-size: 16px;
            line-height: 140%;
          }
        }
      }
      .top-creators-list {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .top-creators-section {
    height: 893px;
    .rankings-button-wrapper.mobile {
      display: block;
      width: 315px;
      height: 60px;
    }
    .top-creators-content {
      width: 315px;

      .top-creators-header {
        margin-bottom: 40px;

        .top-creators-header-left {
          .top-creators-title {
            font-size: 28px;
            line-height: 140%;
          }

          .top-creators-description {
            font-size: 16px;
            line-height: 140%;
          }
        }

        .rankings-button-wrapper {
          display: none;
        }
      }

      .top-creators-list {
        grid-template-columns: 1fr ;
        column-gap: 20px;
        margin-bottom: 40px;
      }
    }
  }

}