/* FONT STACKS */
$work-sans: 'Work Sans', Helvetica, serif;
$space-mono: 'Space Mono', Helvetica, serif;


/* COLOURS */
$purple: #A259FF;
$dark-grey: #2B2B2B;
$white: #FFFFFF;
$grey: #3B3B3B;
$light-grey: #858584;
$lighter-grey: #AAAAAA;